<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tyut4113.meeting.module.app.mapper.MUserMeetingMapper">

    <!-- 根据会议ID查询所有的UID -->
    <select id="listUidByMeetingId" resultType="long">
        select uid from m_user_meeting where meeting_id = #{meetingId}
    </select>

    <!-- 根据会议ID批量删除信息 -->
    <delete id="deleteBatch">
        delete from m_user_meeting where m_user_meeting.meeting_id in
        <foreach item="meetingId" collection="array" open="(" separator="," close=")">
            #{meetingId}
        </foreach>
    </delete>

</mapper>